about-time==3.1.1
alive-progress==2.4.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
beaupy==3.4.0
cffi==1.15.1
commonmark==0.9.1
emoji==2.2.0
GCMlib==1.0.3
grapheme==0.6.0
numpy==1.24.2
opencv-python==4.7.0.72
Pillow==9.4.0
pycparser==2.21
pycryptodome==3.17
Pygments==2.14.0
pypng==0.20220715.0
PyQRCode==1.2.1
pystyle==2.9
python-magic==0.4.27
python-yakh==0.3.1
pytube==12.1.2
pyzbar==0.1.9
rich==12.6.0
tqdm==4.65.0
wget==3.2
